body {
    margin: 0;
}

/* 
this technique is from http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/ 
and is use to offset the viewport when reidrect by side navlinks
*/
section:before {
    content: '';
    display: block;
    height: 64px;
    margin: -64px 0 0;
}
